.app__dark {
  background-color: black;
  padding: 10px;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.25s linear;
}

.app__light {
  overflow-y: scroll;

  background-color: white;
  padding: 10px;
  height: 100vh;
  transition: all 0.25s linear;
}

body::-webkit-scrollbar {
  display: none;
}
